 
*
{
  padding: 0;
  margin: 0;
}



 .login-form {
   display: flex;
    
	 flex-direction: column;
	 align-items: center;
	 padding: 3em;
	 color: white;
	 background:-webkit-linear-gradient(top,#75d2ff,#af57ff);
	 border-radius: 10px;
   box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
   font-weight: 300;
}
 .login-form h1 {
  margin-bottom: 0.3em;
  padding: 12px 0;
  font-size: 26px;
  font-weight: 600;
  color: #fff;
}
 .login-form .form-field {
	 position: relative;
	 margin: 20px 0 8px 0;
	 font-size: 20px;
	 border-bottom: 1px solid white;
	 transition: 0.4s;
}
 .login-form .form-field::after {
	 position: absolute;
	 content: "";
	 bottom: -1px;
	 left: 0;
	 width: 100%;
	 height: 2px;
	 background: #3498db;
	 transform-origin: left;
	 transform: scaleX(0);
	 transition: 0.4s ease;
}
 .login-form .form-field:focus-within::after {
	 transform: scaleX(1);
}
 .login-form .form-field input {
	 padding-left: 10px;
   color: #000;
   font-size: 16px;
   width: 246px;
	 background: transparent;
	 border: none;
	 outline: none;
}
 .login-form .form-field input:focus ~ label, .login-form .form-field input:not(:placeholder-shown) ~ label {
	 top: 0;
	 font-size: 15px;
}
 .login-form .form-field input:valid ~ label {
  color: #ffffff;
  font-weight: 700;
}
 .login-form .form-field input:invalid ~ label {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;

}
 .login-form .form-field label {
	 position: absolute;
	 left: 0px;
	 top: 24px;
	 transition: 0.4s;
}
 .login-form .btn {
  position: relative;
  width: 83%;
  padding: 8px 0;
  margin: 36px 0 18px 0;
  font-size: 1.2em;
  color: white;
  background: transparent;
  border: 1px solid #ffff;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  overflow: hidden;
  transition: 0.5s;
 
  font-weight: 600;
}
 .login-form .btn::before {
	 position: absolute;
	 content: "";
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background: linear-gradient(120deg, transparent, rgba(51, 152, 219, 0.5), transparent);
	 transform: translateX(-100%);
	 transition: 0.5s;
}
 .login-form .btn:hover {
	 box-shadow: 0 0 20px 10px rgba(51, 152, 219, 0.5);
}
 .login-form .btn:hover::before {
	 transform: translateX(100%);
}
 
.wrapper {
  width: 423px;
} 
.title {
  font-size: 27px;
  font-weight: 700;
}
.card-img-top {
  height: 319px;
}

.card {
  border: none !important;
}
.card-wrap {
  width: 77%;
  margin: 47px auto !important;
  padding: 43px;
  background: #ffffff;
}
body  {
  background: #000 !important;
  font-size: 15px !important;
}
.form-wrap  {
  width: 31%;
  margin: 43px auto;
}
 .feed-img  {
  width: 100%;
  height: 300px;
}
.feed-text {
  height: 114px;
  overflow: hidden;

  font-family: initial;
}
.feed-cont {
  margin-bottom: 34px;
}
.cont-wrap  {
   
  height: 100vh;
  position: absolute;
  width: 100%;
  background-image: linear-gradient(to bottom right, #84fff6, #cd87ea);
}
.logout {
  font-size: 13px;
  float: right;
  padding: 7px;
  width: 87px;
  background: #ffff;
  border: 1px solid;
}